
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu sagittis quam, gravida accumsan elit. Praesent pharetra quis lacus ut tristique. Curabitur eu placerat lectus. Curabitur eget nibh laoreet, viverra dolor ac, convallis ligula. Proin fringilla quis arcu nec rhoncus. Sed fermentum sodales lobortis. Sed id elementum felis. Pellentesque blandit hendrerit lacus quis aliquam. Praesent id est ligula. Fusce et iaculis dolor. Vivamus finibus commodo purus. Nulla dolor ante, semper sit amet laoreet eu, efficitur ac odio. Donec dignissim felis nisl, in dignissim sapien maximus a.</p>

  <p>Curabitur feugiat neque id orci maximus feugiat. Nullam ultricies turpis vitae lorem mattis, nec rutrum lectus venenatis. In euismod sit amet purus nec convallis. Integer suscipit odio id dui aliquam, sit amet tempor felis auctor. Aenean lobortis mi non dolor finibus venenatis. Maecenas at mauris vel justo volutpat elementum in et diam. Donec rutrum eu mi a lacinia. Cras in volutpat elit. Phasellus vehicula commodo velit, malesuada luctus ipsum vehicula quis. Cras mi felis, posuere eu ligula sed, gravida gravida lectus. Phasellus sodales suscipit tincidunt.</p>
  <div *ngIf = "cliente.disponivel == true ; else cliindisponivel">
    {{cliente.id}} - {{cliente.nome}} / {{cliente.email}} / {{cliente.disponivel}}
  </div>
  
  <ng-template #cliindisponivel> 
    ***CLIENTE INDISPONIVEL***
  </ng-template>

  <br/>

  <div id="lista">
    <div *ngFor="let ITEM of lista">
      ID: {{ITEM.id}}<br/>
      Nome: {{ITEM.nome}}<br/>
      Endereco: {{ITEM.endereco}}<br/>
      E-mail: {{ITEM.email}}<br/>
      <hr>
      
    </div>
  </div>
<button type="button" (click)="alterar()" class = "btn btn-primary">Altera nome</button>
<br/><br/>
<button type="button" (click)="navegar()" class="btn btn-primary">Navegue</button>
